  <footer style="background-color:#003876; color:#FFF;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          &copy; 1984-2014 South Coast Roadrunners
        </div>
        <div class="col-sm-6 text-right">
          :)
        </div>
      </div>
    </div>
  </footer>