<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="col-sm-3">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./"><%= image_tag "scrr_logo.png", size: "260x90" %></a>
		</div>
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="http://www.facebook.com/southcoastroadrunners"><%= image_tag "facebook_logo.png" %></a>
						</li>
						<li>
							<a href="http://www.twitter.com/scrr"><%= image_tag "twitter_logo.png" %></a>
						</li>
						<li>
							<a href="http://sports.groups.yahoo.com/group/southcoastroadrunners/"><%= image_tag "yahoo_logo.png" %></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav navbar-nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#" class="disabled">Training</a>
								</li>
								<li>
									<a href="#" class="disabled">Injury Prevention</a>
								</li>
								<li>
									<a href="#" class="disabled">Shoes, Apparel, Gear</a>
								</li>
							</ul>
						</li>
						<li class="divider-vertical"></li>
						<li>
							<a href="https://www.facebook.com/southcoastroadrunners/events">Events</a>
						</li>
						<li class="divider-vertical"></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/safety">Safety</a></li>
								<li class="divider"></li>
								<li>
									<a href="#" class="disabled">Pace Calculator</a>
								</li>
								<li>
									<a href="#" class="disabled">VDOT Calculator</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#" class="disabled">Runner's Resources</a>
								</li>
							</ul>
						</li>
						<li class="divider-vertical"></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Membership <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/membership">Join Our Team</a>
								</li>
								<li>
									<a href="#" class="disabled">Order Gear</a>
								</li>
								<li>
									<a href="https://docs.google.com/spreadsheet/pub?hl=en&key=0AgF3RXbmZJcbdHpRVjE2R2RSOFcxNHluR3JBdENiZmc&hl=en&gid=0">Grand Prix Standings <i class="fa fa-external-link"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/newsletters">Newsletter</a>
								</li>
								<li>
									<a href="/about">About Us</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/history">Leadership & Award Winners</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>

<div style="height: 8px; background-color: #003876;"></div>
<div style="height: 4px; background-color: #FFF;"></div>