<!-- Newbie Modal -->
<div class="modal fade" id="newbieModal" tabindex="-1" role="dialog" aria-labelledby="newbieModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Your First SCRR Run</h4>
      </div>
      <div class="modal-body">
        <p>The best way to get to know us is to run with us! We are a very welcoming group of all ages and levels. Please feel free to attend any one of our events.</p>
      	<p>The easiest way to get connected is our <strong>New Members' Nights</strong></p>
      	
		<h3>New Members' Night</h3>
		<p>New Members' Night is on the first Thursday of every month.</p>
		<ul>
			<li><strong>When:</strong> <u>First Thursday of the month @ 6:15 PM</u></li>
			<li><strong>Where:</strong> <a href="http://maps.google.com/maps/ms?t=h&om=1&ie=UTF8&hl=en&msa=0&msid=101870021449987837121.000001134cabbda50744c&ll=33.701029,-117.774639&spn=0.004258,0.010042&z=17" target="_blank">Heritage Park, Irvine <i class="fa fa-external-link"></i></a></li>
			<li><strong>Schedule:</strong> 
				<ul>
				<li><strong>6:15 PM</strong> Run with pace groups led by current members</li>
				<li><strong>7:30 PM</strong> Monthly Club meeting at Heritage Park</li>
				<li><strong>8:15 PM</strong> Hosted pizza &amp; socializing at <a href="https://www.google.com/maps/place/Lamppost+Pizza/@33.704114,-117.785715,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xee819847233f8c89" target="_blank">Lamppost Pizza <i class="fa fa-external-link"></i></a></li>
				</ul>
			</li>
		</ul>
      	
      	<h3>What Makes SCRR Special?</h3>
		<ul>
			<li><strong>You Do!</strong> We have continuously grown and have a tremendously diverse group of people that have one thing in common... We love to run! 
			</li>
			<li><strong>We support our local races!</strong> Our club runs a local race every month, and we usually get a discount.</li>
			<li><strong>Inexpensive dues!</strong><br/> 
			Personal: $30 / year or $55 / 2 years<br/>
            Family: $45 / year or $85 / 2 years<br/>
            <a href="/membership">Begin or renew your SCRR membership</a>
			</li>
			<li><strong>Social functions!</strong> We have parties, field trips and eat pizza once a week!</li>
			<li><strong>The original Grand Prix Series!</strong> You get to compete with everyone in the club on a level playing field regardless of age or sex.</li>
		</ul>	

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>