<a name="about_us"></a>
<a name="contact_us"></a>
<section id="home-page-about-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>South Coast Roadrunners</h1>
        <div>
          <p>The South Coast Roadrunners have been a fixture in the Southern California running community since 1984 and are based in Orange County, CA. We welcome runners of all goals, ages, speeds and styles; fitness runner to racer, ultramarathoner to triathlete, newcomer to veteran. We're a proud member of <a href="http://rrca.org">RRCA <i class="fa fa-external-link"></i></a>. Come run with us!</p>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2 text-center">
        <div class="i-circle">
          <i class="fa fa-envelope-o"></i>
        </div>
        <h2>Contact Us</h2>
        <a href="mailto:scrr-info@cox.net">scrr-info@cox.net</a>
        <address>
          <strong>South Coast Roadrunners</strong><br />
          P.O. Box 4733<br />
          Irvine, CA 92616
        </address>
      </div>
    </div>
  </div>
</section>