<a name="announcements"></a>
<section id="home-page-announcements" style="background-color: #EEDCAE;">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 text-center">
        <div class="i-circle">
          <i class="fa fa-cutlery"></i>
        </div>
        <h2>Register Here</h2>
				<% if Time.now() < Date.new(2015,6,17) %>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="MTRNL7MZU9EGS">
						<div><input type="hidden" name="on0" value="# of persons"># of persons</div>
						<div>
							<select name="os0">
								<option value="Single">Single $30.00 USD</option>
								<option value="Couple">Couple $60.00 USD</option>
							</select>
						</div>
						<div><input type="hidden" name="on1" value="Name(s) of those attending:">Name(s) of those attending:</div>
						<div><input type="text" name="os1" maxlength="200"></div>
						<br />
						<input type="hidden" name="currency_code" value="USD">
						<div>
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</div>
						
					</form>
				<% else %>
					<p>Banquet registration has ended. Sorry!</p>
				<% end %>
      </div>
      <div class="col-sm-9">
				<div style="float: left; margin: 0 30px 20px 0"><a href="https://www.facebook.com/events/263757603958625/"></a></div>
				<h1>Awards Banquet 2016</h1>
					<p>$30 per person through Thursday, May 28</p>
					<p>Must RSVP with payment by Thursday, June 16 at midnight</p>
					<p>Pay online using the form to the left, or by cash or check payable to SCRR given to any board member.</p>
					<p>5pm Semi-formal attire. Dinner, dancing, raffle, & awards!</p>
					<address>Deerfield Community Center<br />55 Deerwood West<br />Irvine, CA 92604</address>
      </div>
    </div>
  </div>
</section>