 <section id="home-page-grand-prix" style="background-color:#f5f5f5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
         <div class="i-circle">
           <i class="fa fa-flag-checkered"></i>
         </div>
        <h1>Grand Prix</h1>
        <div>The South Coast Grand Prix is the club's annual series of twelve races where members score points based on their age-graded performances.</div>
        <a href="https://docs.google.com/spreadsheet/pub?hl=en&key=0AgF3RXbmZJcbdHpRVjE2R2RSOFcxNHluR3JBdENiZmc&hl=en&gid=0">View Results <i class="fa fa-external-link"></i></a>
      </div>
      <div class="col-sm-offset-1 col-sm-7">
        <h2>Standings</h2>
        <div class="column-3">
          <ol id="grandprix">
          </ol>
        </div>
        <h6>*As of 3/1/14</h6>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
	var public_spreadsheet_url = 'https://docs.google.com/spreadsheet/pub?key=0AgF3RXbmZJcbdHpRVjE2R2RSOFcxNHluR3JBdENiZmc&output=html';

	$(document).ready( function() {
		Tabletop.init({ key: public_spreadsheet_url,
		                     callback: showInfo,
		                     simpleSheet: true,
		                     parseNumbers: true
		                     
		});
	});

  function showInfo(data, tabletop) {
  	//tabletop.sheets("2014");
  	var source = $("#handlebars-template").html();
		var template = Handlebars.compile(source);
  	
  	//tabletop.model.toArray();
    //alert("Successfully processed!");
    //console.log(data);
    
    $.each( tabletop.sheets("2014").all(), function(i, cat) {
		  var html = template(cat);
		  $("#grandprix").append(html);
		});
  }
</script>

<script id="handlebars-template" type="text/x-handlebars-template">
		<li>{{details_2}}</li>
</script>

<style>
ol li:first-child {
    display: none;
}
/*ol > li:nth-child(2):after {
	display: inline-block;
	font-family: FontAwesome;
	content: "\f091";
}*/
ol li:nth-of-type(1n+32) {display: none;}
</style>