<!-- app/views/events/index.html.erb -->
<h1>Home#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<ul>
	<% @events.each do |event| %>
		<li><%= event["name"] %>, <%= event["start_time"] %>, <%= event["location"] %></li>
	<% end %>
</ul>
