<div id="content_wide">
	<h2>Frequently Asked Questions</h2>
	Here are answers to the questions that we receive the most. Please take a look at these but feel free to <a href="/contact/">contact us</a> if your question is not answered here!
	<br>
	<br>
	<h4>Questions</h4>
	<ul>
		<li>
			<a href="#faq0">Do I have to wait for "New Member's Night" to come for the first time?</a>
		</li>
		<li>
			<a href="#faq1">How do I become a member of the South Coast Roadrunners or renew my membership? Who do I give my payment to?</a>
		</li>
		<li>
			<a href="#faq2">I'm from out of town, visiting, from another city, etc. Can I show up to a run and/or meeting?</a>
		</li>
		<li>
			<a href="#faq3">What is the typical workout for the runs?</a>
		</li>
		<li>
			<a href="#faq4">Can I run with the club if I’m not a member?</a>
		</li>
		<li>
			<a href="#faq5">Is there anyone that runs my pace? </a>
		</li>
		<li>
			<a href="#faq6">Do you have pace groups?</a>
		</li>
		<li>
			<a href="#faq7">I can’t make it to every run.  Is that ok?</a>
		</li>
		<li>
			<a href="#faq8">Are there any runners that live near me?</a>
		</li>
		<li>
			<a href="#faq9">Do I need a reflector vest and a light to run at night with the club?</a>
		</li>
	</ul>
	<br>
	<h4>Answers</h4>
	<dl>
		<dt><a name="faq0"></a><strong>Q: Do I have to wait for "New Member's Night" to come for the first time?</strong></dt>
		<dd><p>A: Don't wait! Come and join us any time you like. Thursdays and (then Saturdays) usually have the most people show up though so that may give you a better example of how many people run your pace/distance.</p></dd>
		<dt><a name="faq1"></a><strong>Q: How do I become a member of the South Coast Roadrunners or renew my membership? Who do I give my payment to?</strong></dt>
		<dd><p>A: You can now <a href="/membership">pay your membership dues online</a>! If you prefer you can <a class="ext" href="/files/SCRR_membership_form.pdf" target="_blank">download the membership application here<span> (external link)</span></a>. Just print it, fill it out and mail it to the address with your applicable payment. The PO box is checked at least weekly.</p>
			<p>We are also offering a <strong>special deal</strong> where you can get a 1 year individual membership WITH a <a href="/images/uniforms2lg.jpg" rel="roebox">South Coast Roadrunners Uniform</a> for only $75. If you want to do this just include a note saying which sex and size of singlet and shorts you'd like. Alternatively you can just give a check to one of the club officers after a run.</p></dd>
		<dt><a name="faq2"></a><strong>Q: I'm from out of town, visiting, from another city, etc. Can I show up to a run and/or meeting?</strong></dt>
		<dd><p>A: Sure, come and join us any time you like.</p></dd>
		<dt><a name="faq3"></a><strong>Q: What is the typical workout for the runs?</strong></dt>
		<dd><p>A: There is no set workout for the runs. Each person decides what they will run – both distance and pace – based on their ability and training goals. Generally folks run between 3-10 miles on weekdays; longer on the weekends.</p></dd>
		<dt><a name="faq4"></a><strong>Q: Can I run with the club if I’m not a member?</strong></dt>
		<dd><p>A: We encourage runners to come out and run with us to learn more about the club and whether or not it will be a fit for them.  A good night to do this is the first Thursday of every month, when we have our club meetings.  You will learn a lot about the club activities at the meeting. However, you are welcome anytime.</p></dd>
		<dt><a name="faq5"></a><strong>Q: Is there anyone that runs my pace? </strong></dt>
		<dd><p>A: We have a wide range of runners in terms of the pace and distance that they run. That being said, there may not always be someone running exactly your pace for the distance that you want to run that day.  It’s going to depend on who shows up that day. The best way to find a training partner is to join the club and come on a regular basis.  The more you participate in the runs and the social events, the more people that you will meet and the greater the odds that you’ll find a training partner at your level.  Plus you’ll meet a lot of other people who may not be your pace, but will get to know you and what you’re training for – and they’ll be there cheering for you at the races.</p></dd>
		<dt><a name="faq6"></a><strong>Q: Do you have pace groups?</strong></dt>
		<dd><p>A: We do not have pace groups and not everyone is training for the same thing. Some are training for a marathon, some for a 5K, some are recovering from an injury and some are just running to stay healthy.  When you come for the first time, we’ll try to match you up with someone about your pace.</p></dd>
		<dt><a name="faq7"></a><strong>Q: I can’t make it to every run. Is that ok?</strong></dt>
		<dd><p>A: Absolutely.  We have regularly scheduled club runs on Mondays, Thursdays and Saturdays.  Not everyone runs every one - it all depends on what you’re training for, where you live, where you work, etc.  Usually, Monday is the smallest group; Thursday is the largest group (must be the pizza/beer afterwards!); and Saturday varies.</p></dd>
		<dt><a name="faq8"></a><strong>Q: Are there any runners that live near me?</strong></dt>
		<dd><p>A: Our Monday and Thursday runs are in Irvine; the location of our Saturday runs varies.  We really encourage folks to run as a group, because we believe that provides camaraderie, bonding, esprit de corps.  But if you come out and run with the group, you may very well meet someone that lives near you.</p></dd>
		<dt><a name="faq9"></a><strong>Q: Do I need a reflector vest and a light to run at night with the club?</strong></dt>
		<dd><p>A: They are strongly recommended for your safety but not required, please <a href="/safety">visit our safety guidelines page</a>.</p></dd>
	</dl>
</div>