<h2>Club History</h2>
<p>Our club was originally the Irvine chapter of the Loeshhorn's Running Club, which had clubs affiliated with John Loeshhorn's chain of running stores. When the Irvine shop closed in 1984, the chapter became the South Coast Roadrunners. The Fountain Valley Loeshhorn's shop eventully became the first Snail's Pace store, and as that chain has grown, so has its club. We have, and always will be, "cousins" to the Snails Pace club, which is why our relationship is warm and we have many members in common.</p>
<p>In 1993, we began the tradition of having an annual gala banquet and presenting awards to members for service and accomplishments. Many of our awards are named in honor of distinguished members who were instrumental or inspirational in getting our Club off the ground and making it what it is.</p>

<div class="row">
	<div class="col-sm-12">
		<h3>Club Officers</h3>
		<p>We'd be nowhere without our officers. Thanks for your service!</p>
		<table class="table table-striped table-bordered table-condensed">
			<thead><tr><th>Year</th><th>President</th><th>Vice President</th><th>Secretary</th><th>Treasurer</th></tr></thead>
			<tbody>
				<tr><td>2013-2014</td><td>Stacey Dippong</td><td>David Schiller</td><td>Rob Harris</td><td>Lisa Eiler</td></tr>
				<tr><td>2012-2013</td><td>Sherri Ellerby</td><td>Leilani Rios</td><td>Noreene Matsuda</td><td>Eric Dangott</td></tr>
				<tr><td>2011-2012</td><td>Greg Hanssen</td><td>Vicki Ballon</td><td>Angel Cardoza</td><td>Stacey Dippong</td></tr>
				<tr><td>2010-2011</td><td>Greg Hanssen</td><td>Orhan Beker</td><td>Tonson Tong</td><td>John Gardiner</td></tr>
				<tr><td>2009-2010</td><td>Greg Jones</td><td>Brad Wobig</td><td>Tonson Tong</td><td>Orhan Beker</td></tr>
				<tr><td>2008-2009</td><td>Amelia Carchidi</td><td>Greg Jones</td><td>Tonson Tong</td><td>Orhan Beker</td></tr>
				<tr><td>2007-2008</td><td>Jon Resnick</td><td>Amelia Carchidi</td><td>Jannay Morrison/ Tonson Tong</td><td>Sue Zihlmann</td></tr>
				<tr><td>2006-2007</td><td>Danny Stein</td><td>Jon Resnick</td><td>Molly Regan/ Amelia Carchidi</td><td>Sue Zihlmann</td></tr>
				<tr><td>2005-2006</td><td>Danny Stein</td><td>Mark Hayakawa</td><td>Molly Regan</td><td>Amy Katz</td></tr>
				<tr><td>2004-2005</td><td>Danny Stein</td><td>Jeff Hindman</td><td>Molly Donnellan</td><td>Rob Harris</td></tr>
				<tr><td>2003-2004</td><td>Molly Donnellan</td><td>Danny Stein</td><td>Jenn Walt</td><td>Rob Harris</td></tr>
				<tr><td>2002-2003</td><td>Rob Harris</td><td>Rob Michie</td><td>Nanci Goedecker</td><td>Jon Resnick</td></tr>
				<tr><td>2001-2002</td><td>Rob Harris</td><td>Rob Michie</td><td>Nanci Goedecker</td><td>Cindi Harris</td></tr>
				<tr><td>2000-2001</td><td>Paul Stam</td><td>Nanci Goedecker</td><td>Yvonne Phillips</td><td>Marci Minamide</td></tr>
				<tr><td>1999-2000</td><td>Robert Rye/ Paul McBride</td><td>Sherri Ellerby</td><td>Ty Pippen</td><td>Steve Watanabe</td></tr>
				<tr><td>1998-1999</td><td>Paul McBride</td><td>Robert Rye</td><td>Ed Coffey</td><td>Steve Watanabe</td></tr>
				<tr><td>1997-1998</td><td>Jeff Hindman</td><td>Santiago Nomen</td><td>Jennifer Noyes</td><td>Joe Tyndall</td></tr>
				<tr><td>1996-1997</td><td>Andy Froumis</td><td>Nanci Goedecker</td><td>Karen Alston</td><td>Santiago Nomen</td></tr>
				<tr><td>1995-1996</td><td>Molly Donnellan</td><td>Ron Brugger</td><td>Pat Rowland</td><td>Steve Watanabe</td></tr>
				<tr><td>1994-1995</td><td>Mike Friedl</td><td>Molly Donnellan</td><td>Mike Larkin</td><td>Steve Watanabe</td></tr>
				<tr><td>1993-1994</td><td>Laura Brugger</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>1992-1993</td><td>Laura Brugger</td><td>&nbsp;</td><td>&nbsp;</td><td>Mike Friedl</td></tr>
				<tr><td>1991-1992</td><td>Robert Kuntz</td><td>&nbsp;</td><td>&nbsp;</td><td>Mike Friedl</td></tr>
				<tr><td>1990-1991</td><td>Robert Kuntz</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>1989-1990</td><td>You-Lin Shaw</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h3>The Ideal Runner Award</h3>
		<p>The male award has been named since 1996 for Dave Dixon, the female award has been named since 1999 for Debbie Seale. This award is presented to the member who exemplefies the running life as a friend, competitor, and in service to the Club.</p>
		<table class="table table-striped table-bordered table-condensed">
		   <thead><tr><th>Year</th><th>Ideal Male Runner</th><th>Ideal Female Runner</th></tr></thead>
		   <tbody>
			  <tr><td>2013</td><td>Jon Resnick</td><td>Lisa Eiler</td></tr>
			  <tr><td>2012</td><td>Tonson Tong</td><td>Linda Hammond</td></tr>
			  <tr><td>2011</td><td>Matt Hood</td><td>Danielle Gordanier</td></tr>
			  <tr><td>2010</td><td>Ken Atterholt</td><td>Amelia Carchidi</td></tr>
			  <tr><td>2009</td><td>Greg Hanssen</td><td>Stacey Dippong</td></tr>
			  <tr><td>2008</td><td>Fred Cowles</td><td>Leilani Rios</td></tr>
			  <tr><td>2007</td><td>Michael Reeves</td><td>Noreene Matsuda</td></tr>
			  <tr><td>2006</td><td>Tonson Tong</td><td>Amy Katz</td></tr>
			  <tr><td>2005</td><td>Bob Morris</td><td>Jeannie Leitner</td></tr>
			  <tr><td>2004</td><td>Rob Harris</td><td>Jodie Kinney</td></tr>
			  <tr><td>2003</td><td>Pete Boisineau</td><td>Lois Edds</td></tr>
			  <tr><td>2002</td><td>Danny Stein</td><td>Cathy Shargay</td></tr>
			  <tr><td>2001</td><td>Ed Coffey</td><td>Jeannie Palermo</td></tr>
			  <tr><td>2000</td><td>Jeff Hindman</td><td>Sherri Ellerby</td></tr>
			  <tr><td>1999</td><td>Mel Schultz</td><td>Jennifer Noyes</td></tr>
			  <tr><td>1998</td><td>David Schiller</td><td>Karen Alston</td></tr>
			  <tr><td>1997</td><td>Robert Rye</td><td>Marci Minamide</td></tr>
			  <tr><td>1996</td><td>Mike Friedl</td><td>Lois Edds</td></tr>
			  <tr><td>1995</td><td>Andy Froumis</td><td>Molly Donnellan</td></tr>
			  <tr><td>1994</td><td>Dave Dixon</td><td>Mellie Clarke</td></tr>
			  <tr><td>1993</td><td>Sal Chaidez</td><td>You-lin Shaw Kingery</td></tr>
		</table>
	</div>
	<div class="col-sm-6">
		<h3>The Most Improved Runner Award</h3>
		<p>This award has been named since 1999 for Ron Lowe. This is often a very difficult award to give to only two people as many club members make great improvements over the course of the season.</p>
		<table class="table table-striped table-bordered table-condensed">
		  <thead><tr><th>Year</th><th>Male Runner</th><th>Female Runner</th></tr></thead>
		  <tbody>
			<tr><td>2013</td><td>Dave Flahive</td><td>Judy Sweet</td></tr>
			<tr><td>2012</td><td>John Gardiner</td><td>Stacey Dippong</td></tr>
			<tr><td>2011</td><td>Ross Klein</td><td>Elyse Shimada</td></tr>
			<tr><td>2010</td><td>Vince Lowder</td><td>Kathleen Curley</td></tr>
			<tr><td>2009</td><td>Mike Sellers</td><td>Erica Kotteakos</td></tr>
			<tr><td>2008</td><td>Dave Litvak</td><td>Sherri Ellerby</td></tr>
			<tr><td>2007</td><td>Dan Templin</td><td>Sue Zihlmann</td></tr>
			<tr><td>2006</td><td>Mike Connors</td><td>Jane Crewe</td></tr>
			<tr><td>2005</td><td>Jim Grant</td><td>Amy Katz</td></tr>
			<tr><td>2004</td><td>Tom Dellner</td><td>Amy Katz</td></tr>
			<tr><td>2003</td><td>Fred Cowles</td><td>Jeanie Leitner</td></tr>
			<tr><td>2002</td><td>Tim Mara</td><td>Marissa Hindman</td></tr>
			<tr><td>2001</td><td>David Schiller</td><td>Cathy Shargay</td></tr>
			<tr><td>2000</td><td>Tonson Tong</td><td>Cindi Gray</td></tr>
			<tr><td>1999</td><td>Steve McDonald</td><td>Cathy Shargay</td></tr>
			<tr><td>1998</td><td>Jerry Harber</td><td>Sherri Ellerby</td></tr>
			<tr><td>1997</td><td>Alan Friedl</td><td>&nbsp;</td></tr>
			<tr><td>1996</td><td>Brian Copeland</td><td>&nbsp;</td></tr>
			<tr><td>1995</td><td>&nbsp;</td><td>Jan Peters</td></tr>
			<tr><td>1993</td><td>Eric Fried</td><td>&nbsp;</td></tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<h3>Volunteer of the Year</h3>
		<p>This award is selected by a vote of the membership. There is a lot of work that goes on behind the scenes; from setting up the tent to organizing social events to taking half the club wine tasting... Thank you!</p>
		<table class="table table-striped table-bordered table-condensed">
		  <thead><tr><th>Year</th><th>Runner</th></tr></thead>
		  <tbody>
		  <tr><td>2013</td><td>Cathy Shargay</td></tr>
		  <tr><td>2012</td><td>Leilani Rios</td></tr>
		  <tr><td>2011</td><td>Ken Atterholt</td></tr>
		  <tr><td>2010</td><td>Leilani Rios</td></tr>
		  <tr><td>2009</td><td>Fred Cowles</td></tr>
		  <tr><td>2008</td><td>Cathy Shargay</td></tr>
		  <tr><td>2007</td><td>Noreene Matsuda</td></tr>
		  <tr><td>2006</td><td>Mike Friedl</td></tr>
		  <tr><td>2005</td><td>Mark Hayakawa</td></tr>
		  <tr><td>2004</td><td>Fred Cowles</td></tr>
		  <tr><td>2003</td><td>Cathy Shargay</td></tr>
		  <tr><td>2002</td><td>David Schiller</td></tr>
		  <tr><td>2001</td><td>David Schiller</td></tr>
		  <tr><td>2000</td><td>David Schiller</td></tr>
		  <tr><td>1999</td><td>Ed Coffey</td></tr>
		  <tr><td>1998</td><td>Jeannie Palermo</td></tr>
		  <tr><td>1997</td><td>Julie Francisco</td></tr>
		  <tr><td>1996</td><td>Jeannie Palermo</td></tr>
		  <tr><td>1995</td><td>Jeannie Palermo</td></tr>
		  <tr><td>1994</td><td>Jeannie Palermo</td></tr>
		  <tr><td>1993</td><td>Susan Kuntz</td></tr>
		  </tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<h3>The President's Award</h3>
		<p>This award has been named since 1998 for Robert Kuntz. It is presented by the president to the person whom he or she feels has made the biggest contribution to the club during the year.</p>
		<table class="table table-striped table-bordered table-condensed">
		  <thead><tr><th>Year</th><th>Runner</th></tr></thead>
		  <tbody>
 			  <tr><td>2013</td><td>Noreene Matsuda</td></tr>  
			  <tr><td>2012</td><td>Ken Atterholt</td></tr>
			  <tr><td>2011</td><td>Amelia Vrabel</td></tr>
			  <tr><td>2010</td><td>John Gardiner</td></tr>
			  <tr><td>2009</td><td>Greg Jones</td></tr>
			  <tr><td>2008</td><td>Danny Stein</td></tr>
			  <tr><td>2007</td><td>David Schiller</td></tr>
			  <tr><td>2006</td><td>Mark Hayakawa</td></tr>
			  <tr><td>2005</td><td>Molly Donnellan</td></tr>
			  <tr><td>2004</td><td>Mike Friedl</td></tr>
			  <tr><td>2003</td><td>Molly Donnellan</td></tr>
			  <tr><td>2002</td><td>Jan Peters</td></tr>
			  <tr><td>2001</td><td>Nanci Goedecker</td></tr>
			  <tr><td>2000</td><td>Molly Donnellan</td></tr>
			  <tr><td>1999</td><td>Ed Coffey</td></tr>
			  <tr><td>1998</td><td>Molly Donnellan</td></tr>
			  <tr><td>1997</td><td>Jeannie Palermo</td></tr>
			  <tr><td>1996</td><td>Susan Kuntz</td></tr>
			  <tr><td>1995</td><td>Laura Brugger</td></tr>
			  <tr><td>1994</td><td>Phil Beaudoin</td></tr>
			  <tr><td>1993</td><td>Robert Kuntz</td></tr>
		  </tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<h3>The SCRR Grand Prix Winner</h3>
		<p>This award has been named for Lois Edds since 1999. This award takes some serious talent, dedication and tenacity to win and it's getting tougher every year. <a href="/grand_prix/">Learn more about the Grand Prix</a>.</p>
		<table class="table table-striped table-bordered table-condensed">
		  <thead><tr><th>Year</th><th>Runner</th></tr></thead>
		  <tbody>
		  	<tr><td>2013</td><td>Bob Morris</td></tr>
		  <tr><td>2012</td><td>Dave Parsel</td></tr>
		  <tr><td>2011</td><td>Dave Parsel</td></tr>
		  <tr><td>2010</td><td>John Gardiner</td></tr>
		  <tr><td>2009</td><td>Fred Cowles</td></tr>
		  <tr><td>2008</td><td>Sherri Ellerby</td></tr>
		  <tr><td>2007</td><td>David Schiller</td></tr>
		  <tr><td>2006</td><td>Bob Morris</td></tr>
		  <tr><td>2005</td><td>Fred Cowles</td></tr>
		  <tr><td>2004</td><td>Fred Cowles</td></tr>
		  <tr><td>2003</td><td>Fred Cowles</td></tr>
		  <tr><td>2002</td><td>Bob Morris</td></tr>
		  <tr><td>2001</td><td>Lois Edds</td></tr>
		  <tr><td>2000</td><td>Bob Morris</td></tr>
		  <tr><td>1999</td><td>Bob Morris</td></tr>
		  <tr><td>1998</td><td>Lois Edds</td></tr>
		  <tr><td>1997</td><td>Lois Edds</td></tr>
		  <tr><td>1996</td><td>Lois Edds</td></tr>
		  <tr><td>1995</td><td>Lois Edds</td></tr>
		  </tbody>
		</table>
	</div>
</div>
