
<h2>Membership Dues</h2>
<div class="row">
	<div class="col-sm-6">
		<h3>PayPal</h3>
		<p>Please fill out the form completely to begin or renew your South Coast Roadrunners Membership by credit card or Paypal. <strong>Be sure to read the waiver and safety guidelines below.</strong> Please also completely fill out the paypal form (address, phone, e-mail) for club roster purposes. None of your credit card or payment information will be stored or recorded by SCRR.</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="contact">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="DW2RF2K8PMFBC">
			<label for="os0" class="req" style="width:160px;">Membership Type:</label>
			<input type="hidden" name="on0" value="SCRR Club Membership type">
			<select name="os0" tabindex="1">
			<option value="New Individual, 1 year">New Individual, 1 year $30.00</option>
				<option value="New Individual, 2 years">New Individual, 2 years $55.00</option>
				<option value="New Family, 1 year">New Family, 1 year $45.00</option>
				<option value="New Family, 2 years">New Family, 2 years $85.00</option>
				<option value="Renewal Individual, 1 year">Renewal Individual, 1 year $30.00</option>
				<option value="Renewal Individual, 2 years">Renewal Individual, 2 years $55.00</option>
				<option value="Renewal Family, 1 year">Renewal Family, 1 year $45.00</option>
				<option value="Renewal Family, 2 years">Renewal Family, 2 years $85.00</option>
			</select>
			<div class="cl5"></div>
			<label for="os1" class="req" style="width:160px;">Signature:</label>
			<input type="hidden" name="on1" value="Signature (enter name)">
			<input type="text" name="os1" maxlength="60" size="32" class="txt f" tabindex="2">
			<p>By writing my name in the signature field above, I have read and agree to the waiver below.</p>
			<input type="hidden" name="currency_code" value="USD">
			<input type="image" tabindex="3" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay
			online!" style="margin-left:170px;">
			<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
	<div class="col-sm-6">
		<h3>Other Payment Options</h3>
		<p>If you prefer to pay by check via mail or in person please print out and fill out the <a class="ext" href="https://drive.google.com/file/d/0BwchYaGcg5IxSEdjUU5jMW5lUG8/view?usp=sharing" target="_blank">downloadable membership form <i class="fa fa-external-link"></i></a>, then simply hand it in at a club run or meeting or send it in via mail at the address below.</p>
		<strong>Our Mailing Address:</strong><br />
		<address>
		South Coast Roadrunners<br />
		P.O. Box 4733<br>
		Irvine, CA 92616
		</address>
	</div>
</div>
<h3>Release and Waiver of Liability</h3>
<p>I know that running and volunteering in club runs and races are potentially hazardous activities. I should not enter and run in club activities unless I am medically able and properly trained. I assume all risks associated with running in club activities including, but not limited to, falls, contact with other participants, the effects of weather, including high heat and or humidity, the conditions of the road, bike path, or sidewalk, all such risks being known and appreciated by me.</p>
<p>In connection with the submission of this application and in consideration of being permitted to join South Coast Roadrunners, I hereby RELEASE, WAIVE, DISCHARGE AND COVENANT NOT TO SUE SCRR, its officers, agents, sponsors, members, or volunteers and the Road Runners Club of America from all liability to the undersigned, for any loss or damage, and/or any claim or demands therefore on account of injury to my person or property, whether caused by the negligence of the releasees or any third party while I am participating in any event organized, hosted or sponsored by the releasees.</p>
<p>I further expressly agree that the this RELEASE AND WAIVER AGREEMENT is intended to be as broad and inclusive as is permitted by the law of the State of California and that if any portion thereof is held invalid, it is agreed that the balance shall continue in full legal force and effect.</p>
<p>I HAVE READ AND UNDERSTAND THE SAFETY POLICY AND VOLUNTARILY SIGNED THIS RELEASE AND WAIVER OF LIABILITY and further agree that no oral representations, statements or inducement apart from that set forth in this written agreement have been made to me.</p>

<h3>SCRR Safety Guidelines</h3>
<p>All SCRR members and guests should be aware of these guidelines to ensure everyone's safety on club runs.</p>
<ul>
	<li>Runners are advised to run on the sidewalk or bike path at all times. Per the City of Irvine Municipal Code Ordinance number 192: Pedestrians are prohibited from proceeding along a bicycle path or lane where an adjacent adequate pedestrian
	facility exists.</li>
	<li>Obey all traffic laws. Do not cross a street against a red light.</li>
	<li>Wear a reflective vest, light or reflective clothing when running at night. Carry a light if running on an unlit course.</li>
	<li>Carry emergency identification and phone numbers at all times. Do not leave an injured (or otherwise stopped runner alone).</li>
	<li>Know the route, or run with someone who does and be courteous to other runners, walkers, roller-bladers, bikers, and of course, drivers.</li>
	<li>Share the path. Run on the right side of the bike path and allow room for bikes to pass in both directions.</li>
	<li>Carry adequate water, particularly during long runs, trail runs, and in warm weather.</li>
	<li>Do not wear headphones during club runs and be alert at all times.</li>
</ul>