
			<h2>Safety Guidelines</h2>
		
			<p>All SCRR members &amp; guests should be aware of these guidelines to ensure everyone’s safety on club runs.</p>
			<ul>
				<li>Runners are advised to run on the sidewalk or bike path at all times. <br><strong>Per the City of Irvine Municipal Code Ordinance number 192: Pedestrians are prohibited from proceeding along a bicycle path or lane where an adjacent adequate pedestrian facility exists.</strong></li>
				<li>Obey all traffic laws.  Do not cross a street against a red light.</li>
				<li>Wear a reflective vest, light or reflective clothing when running at night.  Carry a light if running on an unlit course.</li>
				<li>Carry emergency identification and phone numbers at all times. Do not leave an injured (or otherwise stopped) runner alone.</li>
				<li>Know the route, or run with someone who does and be courteous to other runners, walkers, roller-bladers, bikers, and of course, drivers.</li>
				<li>Share the path. Run on the right side of the bike path and allow room for bikes to pass in both directions.</li>
				<li>Carry adequate water, particularly during long runs, trail runs, and in warm weather.</li>
				<li>Do not wear headphones during club runs and be alert at all times.</li>
			</ul>
			<p>A good place to pick up the safety equipment mentioned is at our sponsor <a href="http://www.asnailspace.net" target="_blank">A Snail's Pace</a>. Use your 10% discount and buy a Reflective Vest.</p>
			<p>Some of the injuries our friends have incurred include: a broken leg, broken shoulder, concussion, rib fractures and some cracked vertebrae. Let's stay safe out there!</p>
